body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Public Sans;
}

.logo {
  display: inline-block;
  /* padding: 10px; */
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #signup-form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    flex-basis: 100%;
  }

  .signup-container h2 {
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .terms {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #tos-err {
    margin-top: 0;
    margin-bottom: 10px;
  }

  label {
    margin: 5px 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="checkbox"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /* width: 100%; */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }

/* LOADER */
.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4caf50;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}