body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Public Sans; 
}
img {
    width: 200px;
    height: 200px;
}
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 100;
  }
  
  .logo {
    display: inline-block;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    color: #000; 
  }
  
/* header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    column-gap: 1.2em;
} */
a {
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin: 0.5em;
    padding: 0;
    /* background-color: rgba(0, 0, 0, 0.054); */
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 10px;
}
.product {
    /* border: 2px solid skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
    padding: 0.3em;
    justify-content: center;
    align-items: center;
    flex-basis: 18em;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* align-self: center; */
}
.product:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}
.img-wrapper {
    width: 200px;
    height: 200px;
    /* border: 2px solid salmon; */
    display: flex;
    border-radius: 5%;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    /* flex-grow: 1; */
}
.info-wrapper {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    /* background-color: white; */
}
.info-wrapper p {
    opacity: 55%;
}
.price-style {
    font-size: x-large;
}
.common-text-style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#purchase-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 5px;
}
#purchase-btn-wrapper button{
   flex-grow: 1;
}
button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* LOADER */
.lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #4caf50;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
@media (max-width: 480px) {
    .product {
        display: flex;
        /* column-gap: 1em; */
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        flex-wrap: wrap;
    }
}